@media screen and (max-width: 1300px) {
  .header__list {
    flex-direction: column;
    padding-bottom: 30px;
    margin: auto;
  }

  .header__inner {
    height: auto !important;
  }

  .header__inp {
    width: 500px !important;
  }

  .header__inp-btn {
    right: 24% !important;
    padding-right: 12px !important;
  }

  .header__inner-card {
    display: none !important;
  }

  .header__list-form {
    margin-left: 0 !important;
    margin-top: 20px;
  }

  .home__inner {
    padding-top: 60px;
  }

  .price__card {
    max-width: none !important;
    margin-bottom: 30px;
    width: 90% !important;
  }

  .home__inner-card {
    flex-wrap: wrap !important;
  }

  .home {
    background-repeat: no-repeat;
  }

  .home__card {
    width: 30% !important;
  }

  .test__card {
    width: 80% !important;
    max-width: none !important;
  }

  .home {
    background-size: cover;
  }
}
@media screen and (max-width: 1073px) {
  .service__block--lg {
    width: 65% !important;
  }

  .service__block--sm {
    width: 35% !important;
  }

  .about__block-link {
    bottom: -756px !important;
  }
}
@media screen and (max-width: 1024px) {
  .home__card {
    width: 80% !important;
    margin-top: 30px;
  }

  .about__block-link {
    bottom: -1430px !important;
  }

  .group__card-subtitle {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .about__inner {
    flex-direction: column;
  }

  .about__block {
    width: 100% !important;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__block-img {
    width: 80% !important;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  .about__block-link {
    bottom: -1853px !important;
    left: 47% !important;
  }

  .service__inner {
    flex-direction: column;
    align-items: center;
  }

  .service__block--lg, .service__block--sm {
    width: 90% !important;
    margin-top: 80px;
  }
}
.d-blue {
  background-color: #0060b1;
}

.row {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.td-none {
  text-decoration: none;
}

.col-12 {
  width: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-11 {
  width: 9.0909090909%;
  max-width: 9.0909090909%;
}

.col-10 {
  width: 10%;
  max-width: 10%;
}

.col-9 {
  width: 11.1111111111%;
  max-width: 11.1111111111%;
}

.col-8 {
  width: 12.5%;
  max-width: 12.5%;
}

.col-7 {
  width: 14.2857142857%;
  max-width: 14.2857142857%;
}

.col-6 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-5 {
  width: 20%;
  max-width: 20%;
}

.col-4 {
  width: 25%;
  max-width: 25%;
}

.col-3 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-2 {
  width: 50%;
  max-width: 50%;
}

.col-1 {
  width: 100%;
  max-width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.inner-bars {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.bars-item {
  background-color: white;
  display: inline-block;
  height: 4px;
  border-radius: 6px;
  width: 30px;
  margin-top: 6px;
}

.header {
  position: fixed;
  padding-left: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.637);
}

.header__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 22px;
  position: relative;
  padding-left: 30px;
}

.header__inner-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__card {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.header__card:hover .header__card-icon {
  border-radius: 50%;
  background-color: #39b49b;
  transition: 0.5s;
}

.header__card:hover .header__card-text {
  color: #39b49b;
  transition: 0.5s;
}

.header__card-icon {
  font-size: 25px;
  color: white;
  background-color: #157fda;
  padding: 12px;
}

.header__card-text {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  margin-left: 10px;
}

.header__card-text--lg {
  min-width: 250px;
}

.header__card-text:hover {
  color: #39b49b;
}

.header__card-icon:hover {
  border-radius: 50%;
  background-color: #39b49b;
  transition: 0.5s;
}

.header__logo {
  max-width: 220px;
}

.header__inner {
  display: flex;
  background-color: #157fda;
  height: 70px;
  padding-left: 50px;
  position: relative;
}

.header__list {
  display: flex;
  align-items: center;
}

.heaer__list-inner {
  display: flex;
  align-items: center;
}

.header__list-item {
  list-style: none;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__list-form {
  margin-left: 80px;
}

.header__list-item:hover {
  background-color: #39b49b;
  box-shadow: 6px 6px white;
  transition: 0.5s;
}

.header__list-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.header__inp {
  border-radius: 25px;
  border: 0;
  padding: 12px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  width: 250px;
}

.header__inp-btn {
  position: absolute;
  right: 140px;
  padding: 11px;
  padding-right: 0;
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  border: 0;
  color: black;
  font-size: 18px;
}

.header__inp-btn a {
  color: black;
}

.home {
  padding-top: 250px;
  background-image: url(../img/slider-bg.png);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.home__logo {
  object-fit: cover;
  text-align: center;
  margin-top: 24px;
  max-width: 60px;
  width: 100%;
}

.home__inner-logo {
  background-color: white;
  border: 2px solid #39b49b;
  display: inline-block;
  border-radius: 50%;
  width: 100%;
  text-align: center;
  max-width: 105px;
  height: 100px;
}

.home__title {
  font-size: 60px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 25px;
}

.home__inner-card {
  display: flex;
  justify-content: center;
}

.home__card {
  background-color: #157fda;
  color: white;
  padding: 35px;
  width: 100%;
  height: 300px;
}

.home__card--active {
  background-color: #0060b1;
  height: 350px;
}

.home__card-icon {
  font-size: 60px;
}

.home__card-title {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.home__card-text {
  line-height: 1.8;
}

.home__card--active-text {
  line-height: 3;
}

.fixed-btn {
  position: fixed;
  background-color: gray;
  color: white;
  padding: 14px;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  bottom: 30px;
  right: 0;
  margin-right: 20px;
  transition: 2s;
}

.fixed-btn:hover {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
}

.about {
  margin-top: 70px;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.title {
  margin-top: 20px;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  color: #313131;
}

.title-border {
  height: 4px;
  background-color: #39b49b;
  width: 60px;
  margin-top: 10px;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.about__block {
  width: 50%;
}

.about__block-img {
  width: 100%;
}

.about__block-title--sm {
  color: #157fda;
  font-size: 18px;
  font-weight: 900;
}

.about__block-title {
  font-size: 36px;
  margin-top: 6px;
}

.about__block-text {
  line-height: 1.8;
  font-size: 17px;
  color: gray;
  margin-top: 20px;
}

.default-btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  padding: 14px 0px;
  text-align: center;
  border-radius: 25px;
  margin: 2px;
  width: 100%;
  margin: 7px;
  cursor: pointer;
  border: 0;
}

.default-btn--white {
  text-decoration: none;
  color: #39b49b;
  font-size: 18px;
  background: white;
  padding: 14px 0px;
  text-align: center;
  border-radius: 25px;
  margin: 2px;
  width: 60%;
  border: 1px solid gainsboro;
  margin: 7px;
  cursor: pointer;
}

.default-btn-inner {
  width: 200px;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  font-family: "Poppins", sans-serif;
}

.default-btn-inner:hover {
  border: 2px solid #39b49b;
  border-radius: 40px;
}

.about__block-link {
  position: absolute;
  left: 70%;
  bottom: -700px;
}

.about__block-icon {
  color: #39b49b;
  font-size: 60px;
  text-align: center;
}

.about__inner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.about__card {
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.about__card .about__card-img {
  width: 100%;
  margin: 0;
}
.about__card .about__card-title {
  width: 100%;
  background-color: #157fda;
  color: white;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 6px;
}

.service {
  background-image: url(../img/service-bg.png);
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  background-attachment: fixed;
  margin-top: 60px;
  background-repeat: no-repeat;
}

.service__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__block--lg {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.service__card {
  text-align: center;
  width: 100%;
  max-width: 220px;
  margin-left: 20px;
  margin-top: 40px;
}

.service__card-img {
  width: 100%;
  max-width: 70px;
  margin-bottom: 10px;
}

.service__card-title {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}

.service__card-text {
  font-family: "Poppins", sans-serif;
}

.service__block--sm {
  width: 30%;
  background-color: white;
  padding: 20px;
}

.service__block-title {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.service__inp {
  padding: 12px;
  font-size: 14px;
  width: 100%;
  margin-top: 12px;
  border: 1px solid gainsboro;
  font-family: "Poppins", sans-serif;
}

.service__inp::placeholder {
  color: black;
}

.service__select {
  padding: 12px;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  font-size: 14px;
  margin-top: 12px;
  border: 1px solid gainsboro;
}

.service__textarea {
  padding: 12px;
  width: 100%;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: 1px solid gainsboro;
}

.group {
  padding-top: 60px;
  padding-bottom: 40px;
}

.group__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.group__card {
  width: 100%;
  max-width: 330px;
  margin-top: 30px;
  margin-right: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group__card-img {
  width: 100%;
  border-radius: 6px;
}

.group__card-title {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  transform: translate(0px, -35px);
}

.group__card-subtitle {
  color: #157fda;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.group__card-text {
  font-size: 17px;
  color: gray;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}

.group__link {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  color: white;
  margin-right: 8px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  width: 38px;
  height: 35px;
  margin-top: 10px;
}

.price {
  background-image: url(../img/price-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.price__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.price__card {
  background-color: white;
  padding: 40px;
  width: 100%;
  max-width: 360px;
  height: 460px;
  text-align: center;
  margin-left: 15px;
}

.price__card--active {
  height: 580px;
  padding: 5px;
}

.price__card--active-body {
  padding-left: 40px;
  padding-right: 40px;
}

.price__card-title {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: center;
}

.price__card-subtitle {
  color: gray;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
}

.price__card-body {
  padding-top: 40px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
  margin-bottom: 16px;
}

.price__card-block {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.price__card-icon {
  color: #a8a8a8;
  font-size: 18px;
  padding-right: 12px;
  border-right: 2px solid gainsboro;
  margin-right: 12px;
}

.price__card-text {
  color: #a8a8a8;
  font-family: "Poppins", sans-serif;
}

.price__card-text--black {
  color: black;
  margin-right: 8px;
  font-weight: 600;
}

.price__card-btn-inner {
  margin: auto;
}

.price__card-head {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  padding: 30px;
  color: white !important;
}

.price__card--active-subtitle {
  color: white;
}

.price__text {
  color: #bdbdbd;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 25px;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 10px;
}

.test {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/bg-testimonial.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.test__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.test__card {
  margin-top: 60px;
  margin-right: 30px;
  width: 100%;
  max-width: 550px;
}

.test__card-body {
  background-color: white;
  padding: 30px;
  border: 1px solid gainsboro;
}

.test__card-body::before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #ededed;
  border-width: 16px;
  margin-left: -70px;
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 25px;
  width: 40px;
  position: absolute;
  background-color: white;
  pointer-events: none;
  clip-path: polygon(49% 100%, 0 0, 100% 0);
}

.test__card-body::after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 15px;
  margin-left: -70px;
  top: 100%;
  left: 10%;
  border: 1px solid gainsboro;
  content: " ";
  height: 20px;
  width: 40px;
  position: absolute;
  pointer-events: none;
  background-color: #f0f0f0;
  clip-path: polygon(49% 100%, 0 0, 100% 0);
}

.test__card-head {
  display: flex;
  padding-bottom: 10px;
}

.test__card-icon {
  color: gainsboro;
  font-size: 25px;
  margin-right: 20px;
}

.test__card-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.test__card-text {
  color: #a8a8a8;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.test__card-footer {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.test__card-img--circle {
  width: 60px;
  margin-right: 25px;
}

.test__card-footer-title {
  color: #39b49b;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.test__card-footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #a8a8a8;
}

.contact {
  background-image: url(../img/Google-Maps-2468315.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  cursor: grab;
}

.contact__inner {
  background: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93));
  padding-top: 60px;
  padding: 50px;
  padding-bottom: 60px;
  left: 0;
  max-width: 550px;
  width: 100%;
  cursor: auto;
}

.contact__form {
  width: 100%;
}

.contact__inner-inp {
  display: flex;
  align-items: center;
}

.contact__inp, .contact__textarea {
  background-color: transparent;
  border: 0;
  color: gray;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid white;
  margin-right: 30px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 30px;
}

.contact__inp::placeholder {
  color: gray;
  font-size: 16px;
}

.contact__textarea {
  background: transparent;
  width: 100%;
}

.footer {
  padding-top: 60px;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
}

.footer__block {
  max-width: 360px;
  margin-right: 30px;
}

.footer__text {
  line-height: 1.6;
  color: gray;
  margin-top: 10px;
}

.footer__block-title {
  border-left: 6px solid #157fda;
  padding-left: 10px;
  font-weight: 600;
  font-size: 22px;
}

.footer__list-item {
  color: gray;
  list-style: none;
  line-height: 1.8;
  margin-top: 12px;
}

.footer__icon {
  color: #157fda;
  font-size: 22px;
  margin-right: 8px;
}

.footer__inp {
  margin-top: 15px;
  padding: 16px;
  width: 80%;
  background-color: gainsboro;
  border: 0;
}

.footer__inner-inp {
  display: flex;
  align-items: center;
}

.footer__inp::placeholder {
  color: #636262;
  font-size: 14px;
}

.footer__btn {
  background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
  padding: 9px;
  margin-top: 15px;
  width: 18%;
  text-align: center;
  font-size: 24px;
  color: white;
}

.footer__footer {
  background: #157fda;
  margin-top: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__footer-icon {
  color: white;
  font-size: 24px;
  margin-right: 15px;
}

.footer__footer-title {
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

/*# sourceMappingURL=style.css.map */
