@media screen and (max-width:1300px) {
    .header__list {
        flex-direction: column;
        padding-bottom: 30px;
        margin: auto;
    }
    .header__inner {
        height: 40vh !important;
    }
    .header__inp {
        width: 500px !important;
    }
    .header__inp-btn {
        right: 24% !important;
        padding-right: 12px !important;
    }
    .header__inner-card {
        display: none !important;
    }
    .header__list-form {
        margin-left: 0 !important;
        margin-top: 20px;
    }
    .home__inner {
        padding-top: 60px;
    }
    .price__card {
        max-width: none !important;
        margin-bottom: 30px;
        width: 90% !important;
    }
    .home__inner-card {
        flex-wrap: wrap !important;
    }
    .home {
        background-repeat: no-repeat;
    }
    .home__card {
        width: 30% !important;
    }
    .test__card {
        width: 80% !important;
        max-width: none !important;
    }
    .home {
        background-size: cover;
    }
    .footer__block {
        margin-top: 60px !important;
    }
}
@media screen and(max-width:1073px) {
    .service__block--lg {
        width: 65% !important;
    }
    .service__block--sm {
        width: 35% !important;
    }
    .about__block-link {
        bottom: -756px !important;
    }
}
@media screen and(max-width:1024px) {
    .home__card {
        width: 80% !important;
        margin-top: 30px;
    }
    .about__block-link {
        bottom: -710px !important;
    }
    .group__card-subtitle {
        margin-top: 0 !important;
    }
} 
@media screen and(max-width:950px) {
    .about__inner {
        flex-direction: column;
    }
    .about__block {
        width: 100% !important;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__block-img {
        width: 80% !important;
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .about__block-link {
        bottom: -1455px !important;
        left: 47% !important;
    }
    .service__inner {
        flex-direction: column;
        align-items: center;
    }
    .service__block--lg, .service__block--sm {
        width: 90% !important;
        margin-top: 80px;
    }
    .inner-bars {
        opacity: 1 !important;
        position: relative !important;
    }
    .header__list {
        opacity: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }
    .header__list-inner {
        flex-direction: column !important;
        align-items: flex-start !important;
        display: flex !important;
        width: 100% !important;
    }
    .header__inner {
       padding-right: 50px !important;
       width: 0 !important;
       height: 0 !important;
       opacity: 0 !important;
    }
    .header__list-form {
    position: absolute;
    left: 400px;
    top: 20px;
    }
    .header__inp {
        width: 300px !important;
    }
    .header__inp-btn {
        right: 1% !important;
    }
}
@media screen and(max-width:800px) {
    .footer__footer-inner {
        flex-direction: column;
    }
    .footer__footer-title {
        margin-bottom: 25px !important;
    }
    .service__card {
        max-width: 280px !important;
    }
}
@media screen and(max-width:718px) {
    .service__card {
        max-width: 90% !important;
    }
    .header__inp {
        width: 100% !important; 
    }
    .header__list-form {
        left: 250px !important;
    }
    .contact__inp, .contact__textarea {
        width: 100% !important;
    }
    .footer__footer-title {
        text-align: center !important;
    }
}
@media screen and(max-width:620px) {
    .about__block-link {
        bottom: -1750px !important;
    }
    .group__card {
        margin-right: 0 !important;
    }
} 
@media screen and(max-width:388px) {
    .about__block-link {
        bottom: -1923px !important;
    }
    .about__card {
        margin-right: 0 !important;
    }
}
@media screen and(max-width:378px) {
    .about__block-link {
        bottom: -1787px !important;
    }
}
@media screen and(max-width:370px) {
    .about__block-link {
        bottom: -2196px !important;
    }
}