@import '_variable.scss';
@import '_loop.scss';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
.header {
    position: fixed;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.637);
}
.header__head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 22px;
    padding-left: 30px;
}
.header__inner-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__card {
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.header__card:hover .header__card-icon {
    border-radius: 50%;
    background-color: $green;
    transition: 0.5s;
}
.header__card:hover .header__card-text {
    color: $green;
    transition: 0.5s;
}
.header__card-icon {
    font-size: 25px;
    color: white;
    background-color: $blue;
    padding: 12px;
}
.header__card-text {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}
.header__card-text--lg {
    min-width: 250px;
}
.header__card-text:hover {
    color: $green;
}
.header__card-icon:hover {
    border-radius: 50%;
    background-color: $green;
    transition: 0.5s;
}
.header__logo {
    max-width: 220px;
}
.header__inner {
    display: flex;
    background-color: $blue;
    height: 70px;
    padding-left: 50px;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list-item {
    list-style: none;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__list-form {
    margin-left: 80px;
}
.header__list-item:hover {
    background-color: $green;
    box-shadow: 6px 6px white;
    transition: 0.5s;
}
.header__list-link {
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.header__inp {
    border-radius: 25px;
    border: 0;
    padding: 12px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
    width: 250px;
}
.header__inp-btn {
    position: absolute;
    right: 140px;
    padding: 11px;
    padding-right: 0;
    border-radius: 0px 25px 25px 0px;
    background-color: white;
    border: 0;
    color: black;
    font-size: 18px;
}
.home {
    padding-top: 250px;
    background-image: url(../img/slider-bg.png);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.home__logo {
    object-fit: cover;
    text-align: center;
    margin-top: 24px;
    max-width: 60px;
    width: 100%;
}
.home__inner-logo {
    background-color: white;
    border: 2px solid $green;
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    text-align: center;
    max-width: 105px;
    height: 100px;
}
.home__title {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 25px;
}
.home__inner-card {
    display: flex;
    justify-content: center;
}
.home__card {
    background-color: $blue;
    color: white;
    padding: 35px;
    width: 100%;
    height: 300px;
}
.home__card--active {
    background-color: $d-blue;
    height: 350px;

}
.home__card-icon {
    font-size: 60px;
}
.home__card-title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.home__card-text {
  line-height: 1.8;
}
.home__card--active-text {
    line-height: 3;
}
.fixed-btn {
    position: fixed;
    background-color: gray;
    color: white;
    padding: 14px;
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}
.about {
    margin-top: 70px;
}
.about__heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
title {
    margin-top: 20px;
    font-size: 36px;
    color: rgb(49, 49, 49);
}
.title-border {
    height: 4px;
    background-color: $green;
    width: 60px;
    margin-top: 10px;
}
.about__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.about__block {
    width: 50%;
}
.about__block-img {
    width: 100%;
}
.about__block-title--sm {
    color: $blue;
    font-size: 18px;
    font-weight: 900;
}
.about__block-title {
    font-size: 36px;
    margin-top: 6px;
}
.about__block-text {
    line-height: 1.8;
    font-size: 17px;
    color: gray;
    margin-top: 20px;
}
.default-btn {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
    padding: 14px 0px;
    text-align: center;
    border-radius: 25px;
    margin: 2px;
    width: 100%;
    margin: 7px;
}
.default-btn-inner {
    width: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif  ;
}
.default-btn-inner:hover  {
    border: 2px solid $green;
    border-radius: 40px;
}
.about__block-link {
    position: absolute;
    left: 70%;
    bottom: -700px;
}
.about__block-icon {
    color: $green; 
    font-size: 60px;
    text-align: center;
}
.about__inner-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.about__card {
    width: 100%; 
    max-width: 250px;
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    .about__card-img {
        width: 100%;
        margin: 0;
    }
    .about__card-title {
        width: 100%;
        background-color: $blue;
        color: white;
        margin-top: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        margin: 0;
        padding: 6px;
    }
}
.service {
    background-image: url(../img/service-bg.png);
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    background-attachment: fixed;
    margin-top: 60px;
    background-repeat: no-repeat;
}
.service__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service__block--lg {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.service__card {
    text-align: center;
    width: 100%;
    max-width: 220px;
    margin-left: 20px;
    margin-top: 40px;
}
.service__card-img {
    width: 100%;
    max-width: 70px;
    margin-bottom: 10px;
}
.service__card-title {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}
.service__card-text {
    font-family: 'Poppins', sans-serif;
}
.service__block--sm {
    width: 30%;
    background-color: white;
    padding: 20px;
}
.service__block-title {
    background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.service__inp {
    padding: 12px;
    font-size: 14px;
    width: 100%;
    margin-top: 12px;
    border: 1px solid gainsboro;
    font-family: 'Poppins', sans-serif;
}
.service__inp::placeholder {
    color: black;
}
.service__select {
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 12px;
    border: 1px solid gainsboro;
}
.service__textarea {
    padding: 12px;
    width: 100%;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 1px solid gainsboro;
}